@import 'config';
@import 'sidebar';
@import 'header';
@import 'newAccountScreen';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Averta CY', sans-serif;
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	display: none;
}
body{
    background: lighten($color-light, 3%);
}

.dashboard-layout{
	overflow: hidden;
}

.main-container {
    margin-left: 255px;
	transition: 0.1s ease;
}


@media only screen and (max-width: 820px) {
	.main-container {
		margin: 0;
	}
}
